#hero {
  display: flex;
  flex-direction: row;
  align-content: center;
  min-width: 100%;
}

#hero .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0px 0px;
  box-sizing: border-box;
  min-width: 100%;
  padding: 0px 10px 0px 10px;
  gap: 0px;
}



#selection-overview {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}



