.mapwrapper {
  display: flex;
    width: 70%;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;
  }
 
.mapwrapper svg {
  display: flex;
  width: 100%;
  height: auto;
}
 
