#map-page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 37px); /* subtract navbar height */
  padding: 24px 30px;
  box-sizing: border-box;
}

.map-page-layout {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex: 1;
  align-items: flex-start;
}

.map-page-sidebar {
  width: 20rem;
  flex-shrink: 0;
}
