#map-view{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 150%;
    background-color: var(--map-view-bg);
    justify-content: center;
    align-content: center;
    gap: 16px;

}


 

 
  