.news-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  /*border: 0.5px solid var(--border-primary);*/
  box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.629);
  border-radius: 10px;
  background-color: rgb(200, 175, 120);
  position: relative;
}

.news-card:last-child {
  /*border-bottom: none;*/
  /*padding-bottom: 0;*/
}

.news-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.news-writeup{
  padding: 0px 9px 5px 9px;
}

.news-card h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.news-card p {
  font-size: 13px;
  line-height: 1.5;
  text-align: justify;
  margin: 0;
  color: var(--text-secondary);
}

.news-card-footer {
  display: flex;
  align-items: center;
}

.news-card a {

}

.news-card a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Covers the whole card */
}



