.news-report {
    max-width: 400px;
}

.news-report h1 {
    font-size: 40px;
    text-align: center;
    line-height: 1.1;
    justify-self: center;
}
.news-report p {
    font-size: 16px;
    text-align: justify;
    margin: 12px 0px;
}
.news-report img{
    width: 100%;
    border-radius: 8px;
    margin: 0 0 10px;
    border: 0.5px solid var(--border-primary);
    /* Order: offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.629);
}

.news-report a {
    color: var(--link-color);
    display: inline-block;
    margin-top: 10px;
    padding: 4px 8px;
    background: var(--orange-button-bg);
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
}